<!DOCTYPE html>
<html>
<head>
  <title>Add Vehicle</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Add New Vehicle</h1>
  <form action="/vehicles" method="POST">
    <input name="vehicleName" placeholder="Vehicle Name" required /><br/>
    <input name="price" placeholder="Price" required /><br/>
    <input name="image" placeholder="Image URL" /><br/>
    <input name="desc" placeholder="Description" /><br/>
    <input name="brand" placeholder="Brand" /><br/>
    <button type="submit">Create</button>
  </form>
</body>
</html>
